/*reset css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

/*nav-bar*/
.navbar-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	background-color:#89CFF0;
	padding: 15px 0 10px 0;
	color: #fff;
}

.navbar-list img{
	width: 270px;
}

.navbar-list a{
	color: inherit;
	font-size: 15px;
	text-decoration: none;
	margin-top: 20px;
	cursor: pointer;
}

.navbar-list input{
	border: none;
	border-radius: 5px;
	padding: 4px 9px;
}

.navbar-list .srch{
	margin-bottom: 0;
	margin-left: 3px;
	font-size: 20px;
}

.navbar-list a:hover{
	color: blue;
}

/*main*/
section {
	display: flex;
	justify-content: center;
	width: 90%;
	margin: 50px auto;
}

.characteristics {
	margin-right: 20px;
} 

.characteristics img {
	display: block;
	margin: auto;
    width: 50%;
}

.text-content_characteristics li {
	margin-bottom: 10px;
}

.text-content_characteristics h2{
	font-weight: bold;
	margin: 50px 0 20px 0;
}

.text-content_characteristics span{
	color: red;
}

/* price */
.price{
	width: 50%;
}
h1{
	font-size: 25px;
	margin-bottom: 5px;
}

.price div{
	margin-bottom: 10px;
}

.star-icon {
	color: #FA6D2B;
	font-size: 13px;
	padding-left: 0;	
}

hr{
	border-color: #EDEDED;
}

.salepercent{
	background-color: #FF9F00;
	border-radius: 5px;
	color: #fff;
	padding: 3px 5px;
}

.oldPrice{
	text-decoration: line-through;
	margin-left: 5px;
}

.tragop {
	border: 1px solid #EE1E25;
	border-radius: 5px;
	color: red;
	width: 90px;
	height: 20px;
	text-align: center;
}

a{
	text-decoration: none;
}

button{
	display: block;
	width: 100%;
    font-size: 18px;
    margin: 20px auto ;
    padding: 20px 15px;
    background-color: #FFC801;
	color: #333;
	border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
	transition-duration: 0.4s;
}

button:hover{
    box-shadow: 0 5px 4px rgba(0,0,0,0.34);
    transform: translateY(-3px);
}

.button-box{
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-box a{
	width: 100%;
}

.button-box button {
	display: block;
	width: 90%;
	background-color: white;	
	color: #333;
	border-radius: 4px;
	border: 1px solid #333;
	text-align: center;
	font-size: 16px;
	transition-duration: 0.4s;
  	cursor: pointer;
	margin: 0 20px;
} 

.button-box button:hover {
	background-color: #FFC801;
	color: #333;
}

.hotline {
	text-align: center;
	margin-top: 10px;
}

/*footer*/
footer{
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	background-color: #F8CD26;
}