/*reset css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
/*nav-bar*/
.navbar-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	background-color:#89CFF0;
	padding: 15px 0 10px 0;
	color: #fff;
}

.navbar-list img{
	width: 270px;
}

.navbar-list a{
	color: inherit;
	font-size: 15px;
	text-decoration: none;
	margin-top: 20px;
	cursor: pointer;
}

.navbar-list input{
	border: none;
	border-radius: 5px;
	padding: 4px 9px;
}

.navbar-list .srch{
	margin-bottom: 0;
	margin-left: 3px;
	font-size: 20px;
}

.navbar-list a:hover{
	color: blue;
}

/*section*/
section{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

section i{
    font-size: 5rem;
    color: green;
}

/*footer*/
footer{
	text-align: center;
	padding: 10px;
	margin-top: auto;
	background-color: #F8CD26;
}